---
import Layout from "../../layouts/Layout.astro";
import { Content } from "./content.md";
---

<Layout
  title="Terms of Service"
  description="Terms of Service for Lumphammer."
>
  <main class="container">
    <Content />
  </main>
</Layout>
