---
import Layout from "../../layouts/Layout.astro";
import { Content } from "./content.md";
---

<Layout>
  <main class={"container"}>
    <Content />
  </main>
</Layout>

<style is:global>
  h2 {
    font-size: 1.2em;
  }
</style>
