---
import Layout from "../../layouts/Layout.astro";
import { Content } from "./content.md";

const dateStringUTCISO = new Date().toISOString();
---

<Layout>
  <main class={"container"}>
    <Content />
    Built at <small>{dateStringUTCISO}</small>
  </main>
</Layout>

<style is:global>
  h2 {
    font-size: 1.2em;
  }
</style>
