---
import Layout from "../../layouts/Layout.astro";
import { Content } from "./content.md";
---

<Layout
  title="Privacy Policy"
  description="Privacy Policy for Lumphammer."
>
  <main class="container">
    <Content />
  </main>
</Layout>
