name: CI/CD

on: push

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - uses: pnpm/action-setup@v4
        with:
          run_install: true

      - uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"

      - name: Instrumentation
        run: |
          pwd
          ls -l
          cat tsconfig.json
          export
          node --version
          pnpm --version
          npx tsc --version

      - name: Build
        run: pnpm run build

      - name: Instrument folder
        run: |
          echo "ls -la dist/"
          ls -la dist/
          echo "cat dist/.assetsignore"
          cat dist/.assetsignore

      - name: Upload dist
        uses: actions/upload-artifact@v6
        with:
          path: dist/
          name: dist
          include-hidden-files: true

      - name: Upload wrangler.toml
        uses: actions/upload-artifact@v6
        with:
          path: wrangler.toml
          name: wrangler.toml

  # we deploy in a separate job to be certain that we're not accidentally
  # uploading source code
  deploy:
    runs-on: ubuntu-latest
    # only if branch is main
    if: github.ref == 'refs/heads/main'
    permissions:
      contents: read
      deployments: write
    name: Publish to Cloudflare Pages
    needs: build
    steps:
      - name: Download dist
        uses: actions/download-artifact@v7
        with:
          name: dist
          path: dist

      - name: Download wrangler.toml
        uses: actions/download-artifact@v7
        with:
          name: wrangler.toml

      - uses: pnpm/action-setup@v4
        with:
          version: latest

      # force the wrangler version be preinstalling it
      # https://github.com/cloudflare/wrangler-action/issues/390
      - name: Install wrangler
        run: pnpm add wrangler@4

      - name: Instrument folder
        run: |
          pwd
          echo "ls -la"
          ls -la
          echo "ls -la dist/"
          ls -la dist/
          echo "cat dist/.assetsignore"
          cat dist/.assetsignore

      - name: Publish to Cloudflare Pages
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
